.nav-mobile {
    width: 100px;
    height: 400px;
    background-color: #40ffffe0;
    color: #064E3B;
    display: none;
    flex-wrap: wrap;
    z-index: 7;
    margin-top: 34px;
    border-radius: 15px;
}
.links-nav{
    width: 100%;
}


@media screen and (max-width: 390px) {
     .nav-mobile {
        position: absolute;
        top: 50px;
        width: 220px;
        background: rgba(216, 211, 211, 0.719);
        padding: 20px;
        transition: 0.3s;

    }

    .nav-mobile.active {
        right: 0;
    }
}