.prod-about-sec {
    width: 100%;
    height: auto;
    padding: 48px;
}

.mainpcard {
    font-size: 12px;
    color: #5B6061;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    cursor: pointer;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 52px;
}

.addcart {
    width: 1184px;
    height: 830px;
    display: flex;
    gap: 64px;
}

.addcart img {
    width: 664px;
    height: 830px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.4s ease-in-out;
}

.about-addcart {
    width: 456px;
    height: 653px;
    display: flex;
    flex-direction: column;
}

.addcart img:hover {
    transform: scale(1.01);
}

.about-addcart p {
    width: 300px;
    font-size: 12px;
    color: #5B6061;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
}

.about-addcart h2 {
    font-family: Manrope;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
    color: #2F3334;
    margin-bottom: 16px;
}

.price-carts {
    display: flex;
    gap: 16px;
    align-items: end;
    margin-bottom: 66px;
}

.FirstPrice {
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-decoration: none;
    color: #446657;
}

.OldPrice {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-decoration: line-through;
    color: #5b6061d7;

}

.inform {
    width: 456px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 29.25px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #5B6061;
    margin-bottom: 32px;
}

.mater {
    display: flex;
    gap: 16px;
}

.mater p {
    width: auto;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #5B6061;

}

.finish {
    display: flex;
    gap: 16px;
}

.finish p {
    width: auto;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #5B6061;
}

.mater-names {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
}

.about-addcart button {
    width: 450.7299499511719px;
    height: 60px;
    gap: 12px;
    border-radius: 8px;
    background: linear-gradient(135deg, #446657 0%, #385A4B 100%);
    color: #E5FFF0;
    font-family: Inter;
    font-weight: 700;
    font-style: Semi Bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.4px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    margin-top: 32px;
}

.last-p {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #5B6061;
}